// Arial - безопасный шрифт, его подключать не нужно.

// На windows эти шрифты есть, на macOS/Linux - нет.  
@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: normal;
  src: 
    url("./fonts/Consolas-regular.woff2") format("woff2"),
    url("./fonts/Consolas-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: bold;
  src: 
    url("./fonts/Consolas-bold.woff2") format("woff2"),
    url("./fonts/Consolas-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: 
    url("./fonts/SegoeUI-regular.woff2") format("woff2"),
    url("./fonts/SegoeUI-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: normal;
  src: 
    url("./fonts/SegoeUI-italic.woff2") format("woff2"),
    url("./fonts/SegoeUI-italic.woff") format("woff");
  font-display: swap;
}

// нигде нет

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: 
    url("./fonts/Merriweather-regular.woff2") format("woff2"),
    url("./fonts/Merriweather-regular.woff") format("woff");
  font-display: swap;
}

