.main-header {
  margin-bottom: 32px;
}

.main-header__wrap-top {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 10px;

  text-align: center; // для центровки заголовка с inline-block
  
  box-shadow: 
    inset 0 51px 0 0 #ffffff,
    inset 0 52px 0 0  #dadbdc;
}

.main-header__title {
  display: inline-block; // для фона
  padding: 0 20px;
  
  @include consolasBold(24px, 48px, $color-main);

  background-color: #ffffff;
}

.main-header__description {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0 20px;

  text-align: left;
  font-style: italic;
  line-height: 18px;
}

.main-header__wrap-image {
  overflow: auto;
}

.main-header__image {
  margin-bottom: 13px;
  padding: 0 20px;
}

.main-header__wrap-date {
  position: absolute; // выпадает в корень, не трогать top/bottom
  left: 40px; 
  min-width: 120px;
  min-height: 100px;
  margin-top: 13px;

  @include merriwReg(24px, 24px, #202326);
  text-align: center;

  background-color: rgba(255, 255, 255, 0.7);
}

.main-header__day {
  margin-bottom: 0px;
}

.main-header__month {
  margin-top: 3px;
  font-size: 16px;
}

@media(min-width: $desktop-width) {
  .main-header {
    margin-bottom: 31px;
  }

  .main-header__wrap-top {
    width: 738px;
    margin-bottom: 37px;
    padding-top: 42px;
    
    box-shadow: 
      inset 0 97px 0 0 #ffffff,
      inset 0 98px 0 0  #dadbdc;
  }
  
  .main-header__title {
    padding: 0 32px;

    font-size: 48px;
  }
  
  .main-header__description {
    position: relative;
    order: 2;
    margin-top: 0;
    padding: 0;
    padding-top: 16px;

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 80px;

      border: 6px solid transparent;
      border-bottom: 9px solid #ffffff;
    }

    // typo!!!
    .typo {
      display: none;    
    }
  }
  
  .main-header__wrap-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
    width: 738px;
  }
  
  .main-header__image {
    margin-bottom: 0;
    padding: 0;
  }
  
  .main-header__wrap-date {
    left: 35px; 
  }
  
  .main-header__day {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);

      border: 3px solid transparent;
      border-left: 4px solid $text-color-main;
    }
  }
}
